.heading{
    color: #E040FB;
    text-align: center;
    text-decoration: underline !important;
    padding-top: 10px;
    text-shadow: 2px 2px 4px black !important;
    padding-bottom: 40px;
}
.fa-shopping-cart,.fa-user-circle-o{
    font-size: 32px;
}
.main{
    position: relative;
    top: 120px;
}
.nav-link:hover{
    background-color: green;
    border-radius: 25px;
    text-decoration: underline;
}
.dropdown-item:hover{
    background-color: green;
    text-decoration: underline;
}
.dropdown-menu{
    background-color:#E040FB ;    
}
.dropdown-item{
    color:#fff !important;
    font-weight: bold ;
}
.card{
    position: relative;
    left: 200px;
}
.navbar{
    background-color: #E040FB !important;
}
.nav-link{
    color: #fff !important;
    font-weight: bold ;
    margin-right: 15px;
}
ol{
    display: flex;
}

.list{
    margin: 10px 10px 0px 30px;
    font-size: 25px;
}
.card-text{
    font-weight: bold !important;
    font-size: 25px;
}
.btn-primary{
    background-color:#E040FB ;
    width: 50%;
    margin-left: 80px;
    
}
@media only screen and (max-width: 1000px){
    .card{
        padding-left: 0px !important;
        left: 0px !important;
    }
}
@media only screen and (max-width: 765px){
    .card-img{
        width: 400px;
    }
}
